<h1>Listing Babies</h1>
<%= link_to 'New baby', new_baby_path %>
<table>
  <tr>
    <th>Name</th>
    <th colspan="3"></th>
  </tr>
 
  <% @babies.each do |baby| %>
    <tr>
      <td><%= baby.name %></td>
      <td><%= link_to 'Show', baby_path(baby) %></td>
      <td><%= link_to 'Edit', edit_baby_path(baby) %></td>
      <td><%= link_to 'Delete', baby_path(baby),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>