<%= form_for :baby, url: babies_path do |f| %>
 
  <% if @baby.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@baby.errors.count, "error") %> prohibited
        this baby from being saved:
      </h2>
      <ul>
        <% @baby.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :height %><br>
    <%= f.number_field :height %>
    <%= f.select :height_unit, options_for_select(["cm", "in"]), :class => 'genForm_dropBox' %>
  </p>
 
  <p>
    <%= f.label :weight %><br>
    <%= f.number_field :weight %>
    <%= f.select :weight_unit, options_for_select(["kg", "lb"]), :class => 'genForm_dropBox' %>
  </p>
  
  <p>
    <%= f.label :temperature %><br>
    <%= f.number_field :temperature %>
    <%= f.select :temperature_unit, options_for_select(["°C", "°F"]), :class => 'genForm_dropBox' %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Back', babies_path %>