<p>
  <strong>Name:</strong>
  <%= @baby.name %>
</p>
 
<p>
  <strong>Height:</strong>
  <%= @baby.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @baby.weight %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @baby.temperature %>
</p>

<% @animals.each do |animal| %>
    <tr><p>
      <td><%= animal.name %></td>
      
    </p</tr>
  <% end %>
  <p></p>
 
<%= link_to 'Edit', edit_baby_path(@baby) %> |
<%= link_to 'Back', babies_path %>